body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
  color: #333;
}

header {
  background-color: #3f3354;
  color: white;
  padding: 20px;
  text-align: center;
}

header h1 {
  margin: 0;
}

nav a {
  color: white;
  margin: 0 10px;
  text-decoration: none;
  font-weight: bold;
}

main {
  padding: 20px;
}

.informativo1 {
  background-color: white;
  border-left: 5px solid #3f3354;
  margin-bottom: 20px;
  padding: 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.informativo2 {
  background-color: white;
  border-left: 5px solid #43bdde;
  margin-bottom: 20px;
  padding: 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.informativo3 {
  background-color: white;
  border-left: 5px solid #4473c5;
  margin-bottom: 20px;
  padding: 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.informativo4 {
  background-color: white;
  border-left: 5px solid #ffad49;
  margin-bottom: 20px;
  padding: 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 15px;
  position: relative;
  bottom: 0;
  width: 100%;
}
